.container{
    background:$white;

}
.aboutPlanted{
    @include flexC;
    align-items: center;
    justify-content: center;
    height:60vh;
    
    h2{
        font-family: $font2;
        font-size: 4rem;
        text-transform: capitalize;
        
    }
    p{
        width:80%;
        font-family: $font1;
        text-align: center;
        line-height:2rem;
    }
    button{
        margin:4% 0;
    }
}