.greenButton{
    background:$green;
    color:white;
    border:none;
    padding: 15px 41px;
    text-transform: capitalize;
    font-family: $font2;
    position: relative;
    display: block;


}
.greenButton:hover{
    background: $yellow;
    color:$green;
}