@media only screen and (max-width: 930px) {
    .contactHeaders .contactForm {
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 4;
        grid-row-end: 10;

    }

    .contactInfo {
        grid-column: 1 / 4;
        grid-row: 7 / 10;
        margin-left: 5%;
    }
    .contactHeaders .contactTitle h1{
        font-size:3rem;
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {

    .contactHeaders .contactTitle {
        grid-column-start: 1;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 2;

        h1 {

            font-size: 2rem;

            margin-top: 3%;

        }


    }
    .contactInfo {
        .flexInfo {
            .contactInformation {
                text-align: center;
            }

            .email {
                text-align: center;
                
            }
        }
    }

    .contactHeaders .contactForm {
        grid-column-start: 3;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 9;  
        form{
            padding: 25px;
            fieldset{
                flex-direction: column;
                width: 100%;
                input{
                    width:100%;
                }
            }
            textarea{
                margin:0;
            }

        }
    }
    

    .contactInfo {

        grid-column: 2 / 10;
        grid-row: 10 / 10;

    }

    .contactInfo .flexInfo .socialMedia {
        justify-content: space-around;
        width: 100%;
        margin-bottom: 5%;
    }


@media only screen and (max-width: 520px){
    .contactHeaders .contactForm {

        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 9;
        box-shadow: none;
        

        form fieldset input {
            font-size: 0.9rem;
            width: 100%;

    }
    
    }
    
        .contactInfo{
            .flexInfo{
                .contactInformation{
                        line-height: 28px;
                        font-size: 0.9rem;
                        margin-top: 3%;
                        text-align:center;
                    }
                    .email{
                        text-align: center;
                        padding: 2% 0;
                    }
                }
            }
        }
        



}