header.contactBackground {
    background: url("./images/contact-header-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.contactHeaders {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    height: 100%;

    .contactTitle {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 6;

        h1 {
            color: $yellow;
            font-size: 4rem;
            text-transform: capitalize;
            margin-top: 15%;
        }
    }
    .contactForm{
        border:1px solid black;
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 4;
        grid-row-end: 10;
        background:white;
        z-index:99;
        box-shadow: -25px 18px $yellow;
        

        form {
            display: flex;
            flex-direction: column;
            font-family: $font2;
            padding:50px;

            fieldset {
                display: flex;
                flex-direction: row;
                width: 100%;
                border: none;
                justify-content: space-between;

                input {
                    outline: 0;
                    border-width: 0 0 2px;
                    border-color: $green;
                    display: block;
                    background: white;
                    font-size: 1rem;
                    line-height: 1.9;
                    width: 47%;
                    color: black;
                    transition: all 0.28s ease;
                    box-shadow: none;
                    margin-left: -2%;
                    margin-right: -1%;

                }


                input:focus {
                    border-color: $yellow;
                }

            }

            textarea {
                border: 2px solid #0e902d;
                display: block;
                background: white;
                font-size: 1rem;
                width: 100%;
                color: black;
                transition: all 0.28s ease;
                box-shadow: none;
                padding: 5%;
                margin-top: 3%;



            }

            textarea:focus {
                border-color: $yellow;

            }

            input[type="submit"] {
                background: $green;
                color: white;
                width: 100%;
                border: none;
                height: 50px;
                margin-top: 3%;
                font-weight: bold;
            }

            input[type="submit"]:focus {
                background: $yellow;
                color: $green;
            }


        }

    }
    .whiteFull{
        background:$white;
        grid-column: 1 / 11;
        grid-row: 6 / 11;
    }

}
.contactInfo{
    grid-column: 2 / 4;
    grid-row: 7 / 10;
    height:100%;

    .flexInfo{
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .socialMedia{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width: 65%;

                i{
                    color:$green;
                    font-size: 1.3rem;
                }
        }
        .email{
            font-family:$font2;
            a{
                color:black;
                font-size:1.3rem;
                text-decoration: none;
            }
        }
        .contactInformation{
            font-family: $font1;
            line-height:34px;
            text-transform: capitalize;

            .zipcode{
                text-transform: uppercase;
            }
        }
    }
    
}