

.labels{
    display:flex;
    flex-direction:column;
    margin:5% 0;
    height:40vh;
    justify-content: space-around;

    .labelColumnOne,
    .labelColumnTwo {
        display: flex;
        flex-direction: row;
        width: 100%;
        
        h3{
            font-family: $font2;
            text-transform:capitalize;
        }
        p{
            font-family: $font1;
        }

        .leaf,
        .file,
        .phone,
        .users{
            margin-right:3%;
            background:$yellow;
            height: 40%;
            width: 10%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }

}




