

.labels{
    display:flex;
    flex-direction:column;
    padding:5% 0;
    justify-content: space-around;
    
    .labelColumnOne,
    .labelColumnTwo {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 33.3333%;
        flex-basis: 200px;
        width: 100%;
        
        h3{
            font-family: $font2;
            text-transform:capitalize;
        }
        p{
            font-family: $font1;
        }

        .leaf,
        .file,
        .phone,
        .users{
            margin-right:3%;
            background:$yellow;
            height: 34%;
            width: 12%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }

}




