$black: #2c2c2c;
$yellow: #f8e71c;
$darkgrey: #4f4f4f;
$green: #0e902d;
$white: #f0efed;
$darkgreen: #074115;
$font1: 'Roboto', sans-serif;
$font2: 'Josefin Sans', sans-serif;

@mixin flexR{
    display:flex;
    flex-direction:row;
}

@mixin flexC{
    display: flex;
    flex-direction: column
}

@mixin center{
    justify-content: center;
    align-content: center;
    text-align: center;

}