$black: #2c2c2c;
$yellow: #f8e71c;
$darkgrey: #4f4f4f;
$green: #0e902d;
$white: #f0efed;
$darkgreen: #074115;
$font1: font-family: 'Roboto', sans-serif;
$font2: font-family: 'Josefin Sans', sans-serif;