@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

.greenButton {
  background: #0e902d;
  color: white;
  border: none;
  padding: 15px 41px;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigationTitle {
  color: white;
}

.navigationTitle h4 {
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
}

.navigationList ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigationList ul li {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  list-style-type: none;
  height: 100%;
  margin-top: 2%;
  margin-left: 6%;
}

.navigationList a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 10vw;
  text-align: left;
}

header {
  max-width: 1600px;
  height: 90vh;
  background: url("./images/home-image-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.headers {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (10%)[10];
      grid-template-rows: repeat(10, 10%);
  -ms-grid-columns: (10%)[10];
      grid-template-columns: repeat(10, 10%);
  height: 70vh;
}

.headerTitle {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  z-index: 999;
}

.headerTitle h1:nth-child(3) {
  color: #f8e71c;
}

.headerTitle h1:nth-child(1) {
  text-transform: capitalize;
}

.headerImg {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 5;
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 8;
  z-index: 99;
}

.headerImg img {
  display: block;
  width: 100%;
}

.emptyDiv {
  background: #f0efed;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 9;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 10;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.container {
  background: #f0efed;
}

.aboutPlanted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60vh;
}

.aboutPlanted h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  text-transform: capitalize;
}

.aboutPlanted p {
  width: 80%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 2rem;
}

.aboutPlanted button {
  margin: 4% 0;
}

.quarterSection {
  background: white;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5% 5% 17.5% 17.5% 10% 17.5% 17.5% 5% 5%;
      grid-template-rows: 5% 5% 17.5% 17.5% 10% 17.5% 17.5% 5% 5%;
  -ms-grid-columns: 22.5% 22.5% 10% 22.5% 22.5%;
      grid-template-columns: 22.5% 22.5% 10% 22.5% 22.5%;
}

.quarterSection .miniWrapperOne {
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 10;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.quarterSection .miniWrapperOne h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
}

.quarterSection .miniWrapperOne p {
  text-align: right;
  width: 80%;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
}

.quarterSection .miniWrapperOne button {
  margin-top: 5%;
}

.quarterSection .flowerBackground {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  background: url("./images/left-flowers.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 30px 40px #f8e71c;
          box-shadow: 30px 40px #f8e71c;
  z-index: 99;
}

.quarterSection .miniWrapperTwo {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.quarterSection .miniWrapperTwo h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
}

.quarterSection .miniWrapperTwo p {
  text-align: left;
  width: 80%;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
}

.quarterSection .miniWrapperTwo button {
  margin-top: 5%;
}

.quarterSection .budBackground {
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 10;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  background: url("./images/right-flowers.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: -20px 27px #f8e71c;
          box-shadow: -20px 27px #f8e71c;
  z-index: 99;
}

.quarterSection .greyBackground {
  -ms-grid-row: 9;
      grid-row-start: 9;
  grid-row-end: 10;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 10;
  background: #f0efed;
}

.quarterSection .greyBack {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 10;
  background: #f0efed;
}

.labels {
  display: -ms-grid;
  display: grid;
  height: 60vh;
  -ms-grid-columns: 5% 5% 40% 5% 5% 40%;
      grid-template-columns: 5% 5% 40% 5% 5% 40%;
  -ms-grid-rows: 10% 35% 10% 35% 10%;
      grid-template-rows: 10% 35% 10% 35% 10%;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 4%;
}

.labels .leaf {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.labels .leafText {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  display: -ms-grid;
  display: grid;
}

.labels .leafText h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.labels .leafText p {
  line-height: 37px;
  font-family: "Roboto", sans-serif;
}

.labels .users {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.labels .usersText {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  display: -ms-grid;
  display: grid;
}

.labels .usersText h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.labels .usersText p {
  line-height: 37px;
  font-family: "Roboto", sans-serif;
}

.labels .file {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

.labels .fileText {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
  display: -ms-grid;
  display: grid;
}

.labels .fileText h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.labels .fileText p {
  line-height: 37px;
  font-family: "Roboto", sans-serif;
}

.labels .phone {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

.labels .phoneText {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
  display: -ms-grid;
  display: grid;
}

.labels .phoneText h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.labels .phoneText p {
  line-height: 37px;
  font-family: "Roboto", sans-serif;
}

.labels .leaf,
.labels .phone,
.labels .users,
.labels .file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8e71c;
  border-radius: 50%;
  margin: 7px 15px;
}

.fullBleed {
  height: 55vh;
  background: url("./images/banner-image.jpg");
  background-position: center center;
  background-size: cover;
}

.founder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 60vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.founder .ladyImg {
  -webkit-box-flex: calc(30% -5%);
      -ms-flex: calc(30% -5%);
          flex: calc(30% -5%);
  margin-right: 5%;
  -webkit-box-shadow: 20px 25px #f8e71c;
          box-shadow: 20px 25px #f8e71c;
}

.founder .ladyImg img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.founder .aboutFounder {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.founder .aboutFounder h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
}

.founder .aboutFounder p {
  font-family: "Roboto", sans-serif;
  line-height: 40px;
  margin-bottom: 3%;
}

.gal {
  background: white;
  margin: 6% 0;
}

.gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 35px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 400px;
}

.gallery .galleryItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

nav.blogNav {
  background: black;
}

header.blogBackground {
  background: url("./images/blog-header-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

.blogHeaders {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10%)[10];
      grid-template-columns: repeat(10, 10%);
  -ms-grid-rows: (10%)[10];
      grid-template-rows: repeat(10, 10%);
  height: 100%;
}

.blogHeaders .blogTitle {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 8;
}

.blogHeaders .blogTitle h1 {
  color: #f8e71c;
  font-size: 5rem;
  text-transform: capitalize;
}

.blogHeaders .blogBlock {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 11;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 11;
}

.blogHeaders img {
  width: 100%;
  display: block;
  -webkit-box-shadow: -25px 20px #f8e71c;
          box-shadow: -25px 20px #f8e71c;
}

main.blogMain {
  background: #f0efed;
}

.asideBlog {
  width: 30%;
  padding-top: 5%;
}

.asideBlog .asideImg {
  width: 100%;
  -webkit-box-shadow: 15px 0px white;
          box-shadow: 15px 0px white;
}

.asideBlog .asideImg img {
  width: 100%;
  display: block;
}

.asideBlog .asideItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 103%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: end;
}

.asideBlog .asideItems .asideContent,
.asideBlog .asideItems .blogIndex {
  background: white;
  padding: 10px 20px;
  text-align: left;
  width: 75%;
}

.asideBlog .asideItems .asideContent h4,
.asideBlog .asideItems .blogIndex h4 {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding-top: 8%;
}

.asideBlog .asideItems .asideContent p,
.asideBlog .asideItems .blogIndex p {
  color: black;
  font-family: "Roboto", sans-serif;
  line-height: 35px;
  width: 90%;
}

.asideBlog .asideItems .asideContent span,
.asideBlog .asideItems .blogIndex span {
  color: #074115;
  font-weight: bold;
  font-style: italic;
}

.asideBlog .asideItems .blogIndex {
  padding-top: 10%;
  padding-bottom: 10%;
}

.asideBlog .asideItems .blogIndex ul {
  width: 90%;
  list-style-type: none;
}

.asideBlog .asideItems .blogIndex ul li {
  margin-left: 25px;
  padding: 10px 0;
}

.asideBlog .asideItems .blogIndex ul li a {
  color: black;
  text-decoration: none;
}

.asideBlog .asideItems .blogIndex ul li::before {
  content: "•  ";
  color: #074115;
  padding-right: 10px;
}

footer .copyright {
  clear: both;
  color: white;
  text-align: center;
  background: black;
  font-family: "Roboto", sans-serif;
  word-spacing: 20%;
  padding: 1% 0;
}
/*# sourceMappingURL=style.css.map */