@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.greenButton {
  background: #0e902d;
  color: white;
  border: none;
  padding: 15px 41px;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  display: block;
}

.greenButton:hover {
  background: #f8e71c;
  color: #0e902d;
}

section {
  max-width: 1600px;
  width: 100%;
}

.container {
  max-width: 1600px;
  width: 100%;
}

.wrapper {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigationTitle {
  color: white;
}

.navigationTitle h4 {
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
}

.navigationList ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigationList ul li {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  list-style-type: none;
  height: 100%;
  margin-top: 2%;
  margin-left: 6%;
}

.navigationList ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navigationList ul li a:hover {
  color: #f8e71c;
}

.navigationList ul li .line::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #f8e71c;
  -webkit-transition: width .4s;
  transition: width .4s;
}

.navigationList ul li .line:hover::after {
  width: 100%;
}

.line::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #f8e71c;
  -webkit-transition: width .4s;
  transition: width .4s;
}

.line:hover::after {
  width: 100%;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 10vw;
  text-align: left;
}

header {
  max-width: 1600px;
  height: 90vh;
  background: url("./images/home-image-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.headers {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  height: 85vh;
}

.headerTitle {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 9;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 9;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  z-index: 999;
}

.headerTitle h1:nth-child(3) {
  color: #f8e71c;
}

.headerTitle h1:nth-child(1) {
  text-transform: capitalize;
}

.headerImg {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 11;
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 11;
  z-index: 99;
}

.headerImg img {
  display: block;
  width: 100%;
}

.emptyDiv {
  background: #f0efed;
  -ms-grid-row: 10;
      grid-row-start: 10;
  grid-row-end: 11;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 11;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.container {
  background: #f0efed;
}

.aboutPlanted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 0;
}

.aboutPlanted h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  text-transform: capitalize;
}

.aboutPlanted p {
  width: 80%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 2rem;
}

.aboutPlanted button {
  margin: 4% 0;
}

.quarterSection {
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
}

.quarterSection .miniWrapperOne {
  -ms-grid-row: 8;
      grid-row-start: 8;
  grid-row-end: 13;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.quarterSection .miniWrapperOne h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
}

.quarterSection .miniWrapperOne p {
  text-align: right;
  width: 80%;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
}

.quarterSection .miniWrapperOne button {
  margin-top: 5%;
}

.quarterSection .flowerBackground {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
  -webkit-box-shadow: 30px 40px #f8e71c;
          box-shadow: 30px 40px #f8e71c;
  z-index: 99;
}

.quarterSection .flowerBackground img {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.quarterSection .miniWrapperTwo {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.quarterSection .miniWrapperTwo h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
}

.quarterSection .miniWrapperTwo p {
  text-align: left;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
}

.quarterSection .miniWrapperTwo button {
  margin-top: 5%;
}

.quarterSection .budBackground {
  -ms-grid-row: 8;
      grid-row-start: 8;
  grid-row-end: 13;
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 12;
  background-repeat: no-repeat;
  -webkit-box-shadow: -20px 27px #f8e71c;
          box-shadow: -20px 27px #f8e71c;
  z-index: 99;
}

.quarterSection .budBackground img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.quarterSection .greyBackground {
  -ms-grid-row: 12;
      grid-row-start: 12;
  grid-row-end: 12;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 11;
  background: #f0efed;
}

.quarterSection .greyBack {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 12;
  background: #f0efed;
}

.labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5% 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.labels .labelColumnOne,
.labels .labelColumnTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  width: 100%;
}

.labels .labelColumnOne h3,
.labels .labelColumnTwo h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
}

.labels .labelColumnOne p,
.labels .labelColumnTwo p {
  font-family: "Roboto", sans-serif;
}

.labels .labelColumnOne .leaf,
.labels .labelColumnOne .file,
.labels .labelColumnOne .phone,
.labels .labelColumnOne .users,
.labels .labelColumnTwo .leaf,
.labels .labelColumnTwo .file,
.labels .labelColumnTwo .phone,
.labels .labelColumnTwo .users {
  margin-right: 3%;
  background: #f8e71c;
  height: 34%;
  width: 12%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullBleed {
  height: 55vh;
  background: url("./images/banner-image.jpg");
  background-position: center center;
  background-size: cover;
}

.founder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0;
}

.founder .ladyImg {
  margin-right: 5%;
  -webkit-box-shadow: 20px 25px #f8e71c;
          box-shadow: 20px 25px #f8e71c;
}

.founder .aboutFounder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.founder .aboutFounder h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
}

.founder .aboutFounder p {
  font-family: "Roboto", sans-serif;
  line-height: 40px;
  margin-bottom: 3%;
}

.gal {
  background: white;
  margin: 6% 0;
}

.gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 35px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 400px;
}

.gallery .galleryItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

nav.blogNav {
  background: black;
}

header.blogBackground {
  background: url("./images/blog-header-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

.blogHeaders {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10%)[10];
      grid-template-columns: repeat(10, 10%);
  -ms-grid-rows: (10%)[10];
      grid-template-rows: repeat(10, 10%);
  height: 100%;
}

.blogHeaders .blogTitle {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 8;
  z-index: 99;
}

.blogHeaders .blogTitle h1 {
  color: #f8e71c;
  font-size: 5rem;
  text-transform: capitalize;
}

.blogHeaders .blogBlock {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 11;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 11;
}

.blogHeaders img {
  width: 100%;
  display: block;
  -webkit-box-shadow: -25px 20px #f8e71c;
          box-shadow: -25px 20px #f8e71c;
}

main.blogMain {
  background: #f0efed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.topBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.asideBlog {
  width: 30%;
  padding-top: 5%;
}

.asideBlog .asideImg {
  width: 100%;
  -webkit-box-shadow: 15px 0px white;
          box-shadow: 15px 0px white;
}

.asideBlog .asideImg img {
  max-width: 100%;
  min-width: 100%;
  display: block;
}

.asideBlog .asideItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 103%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: end;
}

.asideBlog .asideItems .asideContent,
.asideBlog .asideItems .blogIndex {
  background: white;
  padding: 10px 20px;
  text-align: left;
  width: 75%;
}

.asideBlog .asideItems .asideContent h4,
.asideBlog .asideItems .blogIndex h4 {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding-top: 8%;
}

.asideBlog .asideItems .asideContent p,
.asideBlog .asideItems .blogIndex p {
  color: black;
  font-family: "Roboto", sans-serif;
  line-height: 35px;
  width: 90%;
}

.asideBlog .asideItems .asideContent span,
.asideBlog .asideItems .blogIndex span {
  color: #074115;
  font-weight: bold;
  font-style: italic;
}

.asideBlog .asideItems .blogIndex {
  padding-top: 10%;
  padding-bottom: 10%;
}

.asideBlog .asideItems .blogIndex ul {
  width: 90%;
  list-style-type: none;
}

.asideBlog .asideItems .blogIndex ul li {
  margin-left: 25px;
  padding: 10px 0;
}

.asideBlog .asideItems .blogIndex ul li a {
  color: black;
  text-decoration: none;
}

.asideBlog .asideItems .blogIndex ul li::before {
  content: "•  ";
  color: #074115;
  padding-right: 10px;
}

article {
  width: calc(70% - 10%);
  margin-left: 10%;
  margin-top: 21%;
  padding-top: 3%;
}

article .blogBorder {
  -webkit-box-shadow: -10px 20px #f8e71c;
          box-shadow: -10px 20px #f8e71c;
  width: 90%;
  margin-left: -1.5%;
  margin-top: -5%;
}

article .blogTitle {
  padding-top: 5%;
  margin-left: 5%;
}

article .blogTitle h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  margin-top: 10%;
  margin-bottom: 1%;
}

article .blogTitle p {
  font-family: "Roboto", sans-serif;
  color: #074115;
  font-style: italic;
  text-transform: capitalize;
  padding-bottom: 8%;
}

article .blogTitle span {
  font-weight: bold;
}

article .blogText {
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  width: 90%;
  margin-left: 5%;
}

.comments {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 120vh;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[11];
      grid-template-rows: repeat(11, 1fr);
}

.comments .commentsTitle {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.comments .commentsTitle h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.comments .comment1 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5 / 10;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.comments .comment2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5 / 10;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / 7;
}

.comments form {
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5 / 10;
  -ms-grid-row: 7;
  -ms-grid-row-span: 4;
  grid-row: 7 / 11;
}

.comments .comment1,
.comments .comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.comments .commentUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5%;
  height: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.comments .commentUser h5 {
  font-family: "Josefin Sans", sans-serif;
  color: #074115;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.comments .commentUser p {
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  font-size: 0.9rem;
}

.comments form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
}

.comments form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments form fieldset input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #0e902d;
  display: block;
  background: none;
  font-size: 1.3rem;
  line-height: 1.9;
  width: 47%;
  color: black;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-left: -2%;
  margin-right: -1%;
}

.comments form fieldset input:focus {
  border-color: #f8e71c;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}

.comments form textarea {
  border: 2px solid #0e902d;
  display: block;
  background: none;
  font-size: 1rem;
  width: 100%;
  color: black;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 5%;
  margin-top: 3%;
}

.comments form textarea:focus {
  border-color: #f8e71c;
}

.comments form input[type="submit"] {
  background: #0e902d;
  color: white;
  width: 100%;
  border: none;
  height: 20%;
  margin-top: 5%;
  font-weight: bold;
}

.comments form input[type="submit"]:focus {
  background: #f8e71c;
  color: #0e902d;
}

header.contactBackground {
  background: url("./images/contact-header-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.contactHeaders {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  height: 100%;
}

.contactHeaders .contactTitle {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
}

.contactHeaders .contactTitle h1 {
  color: #f8e71c;
  font-size: 4rem;
  text-transform: capitalize;
  margin-top: 15%;
}

.contactHeaders .contactForm {
  border: 1px solid black;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 10;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 10;
  background: white;
  z-index: 99;
  -webkit-box-shadow: -25px 18px #f8e71c;
          box-shadow: -25px 18px #f8e71c;
}

.contactHeaders .contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  padding: 50px;
}

.contactHeaders .contactForm form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactHeaders .contactForm form fieldset input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #0e902d;
  display: block;
  background: white;
  font-size: 1rem;
  line-height: 1.9;
  width: 47%;
  color: black;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-left: -2%;
  margin-right: -1%;
}

.contactHeaders .contactForm form fieldset input:focus {
  border-color: #f8e71c;
}

.contactHeaders .contactForm form textarea {
  border: 2px solid #0e902d;
  display: block;
  background: white;
  font-size: 1rem;
  width: 100%;
  color: black;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 5%;
  margin-top: 3%;
}

.contactHeaders .contactForm form textarea:focus {
  border-color: #f8e71c;
}

.contactHeaders .contactForm form input[type="submit"] {
  background: #0e902d;
  color: white;
  width: 100%;
  border: none;
  height: 50px;
  margin-top: 3%;
  font-weight: bold;
}

.contactHeaders .contactForm form input[type="submit"]:focus {
  background: #f8e71c;
  color: #0e902d;
}

.contactHeaders .whiteFull {
  background: #f0efed;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1 / 11;
  -ms-grid-row: 6;
  -ms-grid-row-span: 5;
  grid-row: 6 / 11;
}

.contactInfo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7 / 10;
  height: 100%;
}

.contactInfo .flexInfo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactInfo .flexInfo .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
}

.contactInfo .flexInfo .socialMedia i {
  color: #0e902d;
  font-size: 1.3rem;
}

.contactInfo .flexInfo .email {
  font-family: "Josefin Sans", sans-serif;
}

.contactInfo .flexInfo .email a {
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
}

.contactInfo .flexInfo .contactInformation {
  font-family: "Roboto", sans-serif;
  line-height: 34px;
  text-transform: capitalize;
}

.contactInfo .flexInfo .contactInformation .zipcode {
  text-transform: uppercase;
}

.emptyD {
  height: 70px;
  width: 100%;
  background: #f0efed;
}

footer .copyright {
  color: white;
  text-align: center;
  background: black;
  font-family: "Roboto", sans-serif;
  word-spacing: 20%;
  padding: 1% 0;
}

@media only screen and (max-width: 1304px) {
  .greyBack,
  .greyBackground {
    display: none;
  }
}

@media only screen and (max-width: 1104px) {
  .quarterSection .miniWrapperOne {
    -ms-grid-row: 7;
        grid-row-start: 7;
  }
  .quarterSection .miniWrapperTwo {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
}

@media only screen and (max-width: 700px) {
  .quarterSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 100%;
  }
  .quarterSection .flowerBackground,
  .quarterSection .budBackground {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .quarterSection .miniWrapperOne,
  .quarterSection .miniWrapperTwo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5% 0;
    width: 90%;
    margin: 0 auto;
  }
  .quarterSection .miniWrapperOne h3,
  .quarterSection .miniWrapperTwo h3 {
    text-align: center;
  }
  .quarterSection .miniWrapperOne p,
  .quarterSection .miniWrapperTwo p {
    text-align: center;
  }
}

@media only screen and (max-width: 1100px) {
  .headerImg {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
  .aboutPlanted h2 {
    font-size: 3rem;
  }
  .founder {
    width: 95%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1055px) {
  .headerImg {
    -ms-grid-row: 7;
        grid-row-start: 7;
    grid-row-end: 8;
  }
}

@media only screen and (max-width: 824px) {
  .headerTitle h1 {
    font-size: 5rem;
  }
  .founder .aboutFounder p {
    line-height: 30px;
  }
  .labels .labelColumnOne .leaf,
  .labels .labelColumnOne .file,
  .labels .labelColumnOne .phone,
  .labels .labelColumnOne .users,
  .labels .labelColumnTwo .leaf,
  .labels .labelColumnTwo .file,
  .labels .labelColumnTwo .phone,
  .labels .labelColumnTwo .users {
    width: 30%;
  }
}

@media only screen and (max-width: 700px) {
  .labels {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .labels .labelColumnOne,
  .labels .labelColumnTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .labels .labelColumnOne .leaf,
  .labels .labelColumnOne .file,
  .labels .labelColumnOne .phone,
  .labels .labelColumnOne .users,
  .labels .labelColumnTwo .leaf,
  .labels .labelColumnTwo .file,
  .labels .labelColumnTwo .phone,
  .labels .labelColumnTwo .users {
    width: 16%;
    height: 52px;
    margin: 27px 0;
  }
  .founder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .founder .aboutFounder {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 8% 0;
  }
}

@media only screen and (max-width: 600px) {
  .headerTitle h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 10vw;
  }
  .headerImg {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .aboutPlanted h2 {
    font-size: 2rem;
    text-align: center;
  }
}

@media only screen and (max-width: 1100px) {
  .comments .comment1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2 / 11;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    padding-right: 10%;
  }
  .comments .comment2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2 / 11;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / 7;
    padding-right: 10%;
  }
  .comments form {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2 / 10;
    -ms-grid-row: 7;
    -ms-grid-row-span: 4;
    grid-row: 7 / 11;
  }
  .comments .commentsTitle {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

@media only screen and (max-width: 900px) {
  .blogHeaders .blogTitle h1 {
    font-size: 4rem;
  }
  .asideBlog .asideItems .blogIndex,
  .asideBlog .asideItems .asideContent {
    width: 100%;
  }
  .asideBlog .asideItems .blogIndex h4,
  .asideBlog .asideItems .asideContent h4 {
    font-size: 1.2rem;
  }
  .asideBlog .asideItems .blogIndex {
    padding: 5px 5px;
  }
  .asideBlog .asideItems .blogIndex ul {
    width: 100%;
  }
  article {
    margin: 0 auto;
    padding-top: 16%;
    padding-bottom: 5%;
  }
  article .blogBorder {
    width: 100%;
  }
  article .blogTitle {
    padding-top: 5%;
    margin-left: 5%;
    text-align: left;
  }
  article .blogTitle h3 {
    margin-bottom: 4%;
  }
  article .blogTitle p {
    padding-bottom: 4%;
  }
  article .blogText {
    font-family: "Roboto", sans-serif;
    line-height: 25px;
    width: 90%;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 700px) {
  article {
    padding-top: 8%;
  }
  .blogHeaders .blogBlock {
    -ms-grid-column: 6;
        grid-column-start: 6;
    grid-column-end: 11;
    -ms-grid-row: 7;
        grid-row-start: 7;
    grid-row-end: 11;
  }
}

@media only screen and (max-width: 600px) {
  .blogHeaders .blogTitle {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 8;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 5;
  }
  .blogHeaders .blogBlock {
    display: none;
  }
  section.topBlog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .asideBlog {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .asideBlog .asideItems {
    width: 100%;
  }
  .asideBlog .asideItems .asideContent {
    text-align: center;
  }
  .asideBlog .asideItems .blogIndex {
    padding: 0;
    text-align: center;
  }
  article {
    width: 90%;
    padding: 3% 0;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 550px) {
  .comments .commentsTitle {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .comments .comment1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / 11;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    padding: 0;
  }
  .comments .comment2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1 / 12;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / 7;
    padding: 0;
  }
  .comments form {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / 11;
    -ms-grid-row: 8;
    -ms-grid-row-span: 4;
    grid-row: 8 / 12;
    padding: 2% 10%;
  }
}

@media only screen and (max-width: 450px) {
  .comments form fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comments form fieldset input {
    font-size: 1rem;
  }
  .comments .commentsTitle h4 {
    font-size: 1.1rem;
  }
  .comments .commentUser h5 {
    font-size: 0.9rem;
  }
  .comments .commentUser p {
    line-height: 28px;
    font-size: 0.8rem;
  }
  .comments .comment1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1 / 12;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / 5;
  }
  .comments .comment2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1 / 12;
    -ms-grid-row: 5;
    -ms-grid-row-span: 4;
    grid-row: 5 / 9;
  }
}

@media only screen and (max-width: 450px) and (max-width: 400px) {
  .comments .commentsTitle {
    -ms-grid-column: 5;
    grid-column: 5 / 5;
  }
  .comments .comment1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2 / 6;
  }
  .comments .comment2 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 4;
    grid-row: 5 / 9;
  }
}

@media only screen and (max-width: 450px) {
  .comments form fieldset input {
    margin: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .blogHeaders .blogBlock {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 11;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 11;
  }
  .comments .comment1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / 5;
  }
  article .blogText {
    line-height: 20px;
  }
}

@media only screen and (max-width: 930px) {
  .contactHeaders .contactForm {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 10;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 10;
  }
  .contactInfo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    grid-row: 7 / 10;
    margin-left: 5%;
  }
  .contactHeaders .contactTitle h1 {
    font-size: 3rem;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .contactHeaders .contactTitle {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 12;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  .contactHeaders .contactTitle h1 {
    font-size: 2rem;
    margin-top: 3%;
  }
  .contactInfo .flexInfo .contactInformation {
    text-align: center;
  }
  .contactInfo .flexInfo .email {
    text-align: center;
  }
  .contactHeaders .contactForm {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 10;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 9;
  }
  .contactHeaders .contactForm form {
    padding: 25px;
  }
  .contactHeaders .contactForm form fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .contactHeaders .contactForm form fieldset input {
    width: 100%;
  }
  .contactHeaders .contactForm form textarea {
    margin: 0;
  }
  .contactInfo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2 / 10;
    -ms-grid-row: 10;
    grid-row: 10 / 10;
  }
  .contactInfo .flexInfo .socialMedia {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 800px) and (max-width: 520px) {
  .contactHeaders .contactForm {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 11;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 9;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contactHeaders .contactForm form fieldset input {
    font-size: 0.9rem;
    width: 100%;
  }
  .contactInfo .flexInfo .contactInformation {
    line-height: 28px;
    font-size: 0.9rem;
    margin-top: 3%;
    text-align: center;
  }
  .contactInfo .flexInfo .email {
    text-align: center;
    padding: 2% 0;
  }
}
/*# sourceMappingURL=style.css.map */